* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, #392865, #50617f, #1199D9);
    height: 65em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
}


main {
    height: 35em;
    width: 18em;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

main > input {
    height: 5em;
    width: 100%;
    border: 0;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 35px;
}


main > #buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 0.3em;
}

main > #buttons-container > button {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    border: 1px solid black;
    background-color: darkgray;
}

main > #buttons-container > .sinais {
    background-color: orange;
}

main > #buttons-container > .clearandresult {
    background-color: dimgrey;
}

main > #buttons-container > button > p {
    font-size: 20px;
}

/* MEDIA QUERY  */

@media only screen and (min-width: 1400px) {
    main {
        height: 40em;
        width: 20em;
    }

    main > #buttons-container > button > p {
        font-size: 30px;
    }
}

@media only screen and (min-width: 2500px) {
    body {
        width: 50%;
        margin: 0 auto;
    }

    
}